<h2>「<%#= @keywords %>」の検索結果</h2>
  <%# if @user_search_results.present? %>
  <!--結果の値があったら-->
    <%# @user_search_results.each do |user| %>
<!--      <div>-->
        <p><%#= user.name %></p>
<!--      </div>-->
  <%# else %>
  <!--結果の値がなかったら-->
<!--    <p>一致する情報は見つかりませんでした。</p>-->
  <%# end %>

