<div class="intro container">
  <div class="intro-text col-12 text-center mt-2">
    <h2 class="intro-title py-3">鹿児島ひとり時間</h2>
    <p class="pt-1">
      鹿児島県内のおひとり様向けのカフェや喫茶店を厳選し、<br>
        心地よいひとときを共有するサイトです。
    </p>

    <p class="pt-1">
      日々の忙しさから離れ、美味しい飲み物とくつろぎの空間で、<br>
        自分だけの特別な時間を過ごしませんか。
    </p>

    <p class="pt-1">
      鹿児島の魅力を満喫しながら、自分時間を大切に。<br>
        あなたのひとり時間をより特別なものにするお手伝いをいたします。
    </p>

    <p class="pt-1">
      「鹿児島ひとり時間」で、新しい冒険と心温まる繋がりを見つけましょう。
    </p>

    <div class="intro-visual pt-2">
      <%= image_tag 'sakurajima_shiroyama.jpg', size: '600x360', alt: "image" %>
    </div>
    <h4 class="mt-3 text-danger">注意事項</h4>
    <p class="pt-1">不適切な投稿やコメントが見つかりました際には、<br>
       該当する投稿またはコメントを削除させていただくこととなります。
    </p>
    <p>
      また、このような行為が継続される場合、会員の皆様については、<br>
      登録を削除させていただく場合がございますので、どうぞご留意ください。
    </p>
  </div>
</div>