<div class="container  mt-5 pb-5">
  <div class="col-md-12">
    <h2 class="mb-3 ml-5 text-center">投稿一覧</h2>
      <div class="row">
        <%= render 'post', posts: @posts %>
      </div>
  </div>
</div>
