<div class="container  mt-5 pb-5">
  <div class="col-md-12">
    <h2 class="mb-3 ml-5 text-center">投稿一覧</h2>
      <!--タグリスト-->
      <% @tag_list.each do |list|%>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to list.name,search_tag_path(shop_tag_id: list.id) %>
        <%="(#{list.posts.count})" %>
      <% end %>

      <div class="row">
        <%= render 'post', posts: @posts, user: @user %>
      </div>
  </div>
</div>
