<div class="container  pb-5">
  <div class="row pt-5">
    <!--タグ一覧-->
    <div class="col-md-3 mt-3">
      <%= render "sidebar_tags", shop_tags: @shop_tags %>
    </div>


  <div class="col-md-9">
    <h2 class="mb-3 text-center font-weight-bold">投稿の一覧</h2>
      <div class="row">
        <%= render 'post', posts: @posts_page %>
      </div>
      <div class="justify-content-center">
        <%= paginate @posts_page %>
      </div>
  </div>

  </div>
</div>
