<div class="container mt-5 pb-5">
  <div class="form-group text-center">
  <h2 class="mb-3 ml-5">新規投稿</h2>

    <%= render 'layouts/errors', obj: @post %>
    <%= render 'form', post: @post, tag_list: @tag_list %>
 

  </div>
</div>
