<div class="container  mt-5 pb-5">
  <div class="col-md-12">
    <h2 class="mb-3 ml-5 text-center">「<%= @keywords %>」の検索結果</h2>
      <% if @search_results.present? %>
      <!--キーワード結果の値があったら-->
        <div class="row">
          <%= render 'post', posts: @search_results %>
        </div>

      <% else %>
      <!--結果の値がなかったら-->
        <p>一致する情報は見つかりませんでした</p>
      <% end %>
  </div>
</div>