/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a {
  color: #333;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  margin: 0px auto 10px;
  background-color: lightcyan;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu__link {
  display: block;
  padding: 10px 20px;
}

.menu__link:hover {
  background-color: #ebebeb;
  color: #666;
}

.drop-menu {
  background-color: #ebebeb; /* 追記 */
  position: absolute;
  top: 43px;
  transition: all .3s;
}

.drop-menu__link {
  display: block; /* display: block;に変更 */
  background-color: #ebebeb;
  padding: 0px 20px; /* 5pxを0pxに変更 */
  line-height: 0; /* 追記 */
  transform: scaleY(0); /* 追記 */
  transition: all .3s; /* 追記 */
}

.drop-menu__link:hover {
  background-color: lightcyan;
}

/* ドロップダウン出現後のスタイル */
.drop-menu__link.is-active {
  /* display: blockを削除 */
  padding: 5px 20px; /* 追記 */
  line-height: 1.6; /* 追記 */
  transform: scaleY(1); /* 追記 */
}