// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#error_explanation {
  display: contents;
}

// .post-item {
//   weight: 300px;
//   height: 250px;
//   background-position: center;
  
// }

.pagination {
  text-align: center;/*中央寄せ*/
  padding-top: 50px;/*pagination領域内の上側の余白*/
}

